
appdirs==1.4.4
atomicwrites==1.4.0
bkcharts==0.2
brotlipy==0.7.0
clyent==1.2.1
distlib==0.3.8
et-xmlfile==1.1.0
Flask==3.0.2
fonttools==4.25.0
gunicorn==21.2.0
inflection==0.5.1
itsdangerous==2.1.2
jsonpointer==2.1
munkres==1.1.4
openpyxl==3.0.10
patsy==0.5.3
pep8==1.7.1
ply==3.11
protobuf==3.20.3
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
s3fs==0.4.2
TBB==0.2
virtualenv==20.25.1
watchdog==4.0.0
webencodings==0.5.1
Werkzeug==3.0.1
